body {
    background: var(--white);
    color: var(--txt-main);
    font-family: 'Roboto', sans-serif;
}

html, body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    list-style-position: inside;
}

#app {
    padding-top: 24px;
}