body {
    background: var(--black);
    color: var(--txt-main);
    font-family: 'Open Sans', sans-serif;
}

html, body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

#app {
    padding-top: 24px;
}

h2, h3 {
    padding: var(--pad-2) 0;
    font-size: var(--font-medium);
}
ul {
    padding: var(--pad-2) 0;
}
ul li {
    padding: var(--pad-1) 0;
    font-size: var(--font-small);
    list-style: none;
    list-style-position: inside;
}

p {
    font-size: var(--font-small);
    padding: var(--pad-2) 0;
}