{% extends "admin/change_form.html" %}

{% block form_top %}
    <div class="form_row">
        <p><strong>{{ original.account.firstname }} {{ original.account.lastname }}</strong></p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>{{ original.account.address_line_1 }}</strong></p>
        <p><strong>{{ original.account.address_line_2 }}</strong></p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>{{ original.account.postcode }}</strong></p>
        <p><strong>{{ original.account.country }}</strong></p>
    </div>
{% endblock %}